#barra{
    background-color: rgb(255, 255, 255);
    height: 30px;
}

#nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 510px;
}

a{
  text-decoration: none;
  color: black;  
}

section{
    height: 300px;
    background-image:url(./images/fundo.png);
    border-radius: 20px;
}

h1{
    padding-top: 20px;
    text-align: center;
    color: white;
}

p{
    margin-left: 20px;
    text-align: center;
}

.container5{
    width: 230px;
    display: flex;
    margin-left: 600px;
    margin-top: -20px;
}


footer{
    margin-top: 370px;
    font-size: 10px;
    text-align: center;
}

#voltar{
    margin-top: -80px;
    font-size: 15px;
    text-align: right;
    margin-right: 80px;
    
}
